.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-background-size: cover;

  background-image: url("assets/rear-view-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;

  .camera-wrapper {
    padding-top: 40px;
    video {
      border-radius: 45px;
    }
  }
}
